html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0.7em;
    min-height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    background-image: url(https://user-images.githubusercontent.com/2546640/56708992-deee8780-66ec-11e9-9991-eb85abb1d10a.png), linear-gradient(to bottom right, #0D324D, #082235);
    /* Standard syntax (must be last) */
    background-size: 15%, cover;
    background-repeat: no-repeat;
    background-position: 5% 10%;
}



.btn-footer {
    color: white !important;
    border: 2px solid white !important;
}

.btn-my-primary:hover {
    background-color: #3797ff !important;
    border: 2px solid #3797ff !important;
    color: white !important;
}

.btn-my-primary {
    font-weight: bold;
    color: white !important;
    border: 2px solid #3797ff !important;

}

.btn-outline-secondary:hover {
    background-color: #AA66CC !important;
    color: white !important;
}

.btn-outline-danger:hover {
     border: 2px solid red !important;
    background-color: red !important;
    color: white !important;
}

.btn-outline-danger {
    border: 2px solid red !important;
    }

.footer{
    padding-top: 2rem;
}

#nav
{
position: fixed;
top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
 
  
}

#nav > a {
  margin: 0.1rem;
  
}

#nav{margin: 0.7rem;}
body > h1{ padding: 0.2rem;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  .open-button-up{
      bottom: 423px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
  }
  
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.blue{
    color: #3797ff;
}
