---
layout: default
main-links: 

- name: Blockchain Technológiák
  url: https://inf.mit.bme.hu/edu/courses/blockchain
- name: Kliens oldali technológiák
  url: https://www.aut.bme.hu/Course/kliensoldali
  other:
    - name: WIKI
      url: https://vik.wiki/Kliens_oldali_technol%C3%B3gi%C3%A1k
    - name: Moodle
      url: https://edu.vik.bme.hu/course/view.php?id=3726    
      
- name: Rendszeroptimalizálás
  url: http://www.cs.bme.hu/rendszeropt/
- name: Dokumentumszerkesztés
  url: https://www.hit.bme.hu/page/VIHIJV47
  other:
    - name: Moodle
      url: https://moodle.hit.bme.hu/course/view.php?id=327
- name: Technológia és társadalom
  url: https://www.filozofia.bme.hu/orak/3214
  other: 
    - name: Moodle
      url: https://edu.gtk.bme.hu/course/view.php?id=305
 
- name: Információs rendszerek üzemeltetése
  url: https://www.tmit.bme.hu/vitmac02
  other:
    - name: WIKI
      url: https://vik.wiki/Inform%C3%A1ci%C3%B3s_rendszerek_%C3%BCzemeltet%C3%A9se
    
    - name: Labor
      url: http://www.medialab.bme.hu/newLabor/
  

- name: Integrációs és ellenőrzési technikák
  url: https://www.mit.bme.hu/oktatas/targyak/vimiac04
  other:
    - name: WIKI
      url: https://vik.wiki/Integr%C3%A1ci%C3%B3s_%C3%A9s_ellen%C5%91rz%C3%A9si_technik%C3%A1k
      
  

- name: Szoftverfejlesztés laboratórium 1
  url: https://www.aut.bme.hu/Course/szoftverlabor1
  other:
    - name: WIKI
      url: https://vik.wiki/Szoftverfejleszt%C3%A9s_laborat%C3%B3rium_1
    - name: Labor
      url: https://bmeviauac01.github.io/laborok/
    



footer-links: 
  - name: Neptun
    url: https://frame.neptun.bme.hu/hallgatoi/login.aspx

  - name: Vik moodle
    url: https://edu.vik.bme.hu/

  - name: GTK MOODLE
    url: https://edu.gtk.bme.hu/

  - name: Vik WIKI
    url: https://vik.wiki/Kezd%C5%91lap
    
  - name: Ütemterv
    url: https://www.vik.bme.hu/document/2660/original/ZHutem_osz_2019_06_21_uzinfo.pdf
  - name: Átlag
    url: https://docs.google.com/spreadsheets/d/1_rLuP33TcZCpg_4wkCcxbtetmeQNGHAixkCnmXkWB2E/edit?usp=sharing

---

<h1>Tárgyak</h1>
<div id="main">
    {% for link in page.main-links %}
    <p>
      
        <a class="btn-my-primary btn btn-outline-primary waves-effect  btn-lg" target="_blank" href="{{link.url}}">
            {{link.name}}
        </a>
        {% if link.other %}
        {% for link in link.other %}
        <a target="_blank"
            class="btn  {% if link.name == "WIKI" %} btn-outline-danger waves-effect{% else %} btn-outline-secondary waves-effect{% endif %} btn-lg "
            href="{{link.url}}">
            {{link.name}}
        </a>
        {% endfor %}
        {% endif %}
    </p>
    {% endfor %}

    <p>
        {% for link in page.footer-links %}
        <a class="btn-footer btn btn-outline-primary waves-effect btn-lg" target="_blank" href=" {{link.url}}">
            {{link.name}}
        </a>
        {% endfor %}

    </p>
</div>