---
layout: semester_arch
main-links: 

- name: Blockchain Technológiák
  url: https://inf.mit.bme.hu/edu/courses/blockchain
  font-awesome-class: fa-link
  
      
- font-awesome-class: fa-greater-than-equal
  name: Rendszeroptimalizálás
  url: http://www.cs.bme.hu/rendszeropt/

- font-awesome-class: fa-vial
  name: Technológia és társadalom
  url: https://www.filozofia.bme.hu/orak/3214
  other: 
    - name: Moodle
      url: https://edu.gtk.bme.hu/course/view.php?id=305
 
     

- font-awesome-class: fa-project-diagram
  name: Integrációs és ellenőrzési technikák
  url: https://www.mit.bme.hu/oktatas/targyak/vimiac04
  other:
    - name: WIKI
      url: https://vik.wiki/Integr%C3%A1ci%C3%B3s_%C3%A9s_ellen%C5%91rz%C3%A9si_technik%C3%A1k
      
- font-awesome-class: fa-window-maximize
  name: Kliens oldali technológiák
  url: 
  other:
    - name: WIKI
      url: https://vik.wiki/Kliens_oldali_technol%C3%B3gi%C3%A1k
      
- font-awesome-class: fa-book-open
  name: Dokumentumszerkesztés
  url: https://www.hit.bme.hu/page/VIHIJV47
  other:
    - name: Moodle
      url: https://moodle.hit.bme.hu/course/view.php?id=327
      
- font-awesome-class: fa-database
  name: Szoftverfejlesztés laboratórium 1
  url: https://www.aut.bme.hu/Course/szoftverlabor1
  other:
    - name: WIKI
      url: https://vik.wiki/Szoftverfejleszt%C3%A9s_laborat%C3%B3rium_1
    - name: Labor
      url: https://bmeviauac01.github.io/laborok/
      
- font-awesome-class: fa-network-wired
  name: Információs rendszerek üzemeltetése
  url: https://www.tmit.bme.hu/vitmac02
  other:
    - name: WIKI
      url: https://vik.wiki/Inform%C3%A1ci%C3%B3s_rendszerek_%C3%BCzemeltet%C3%A9se
    
    - name: Labor
      url: http://www.medialab.bme.hu/newLabor/



---

<h1>Tárgyak</h1>
<div class="container-lg my-5">
    {% for link in page.main-links %}
    <p class="row d-flex justify-content-center align-items-center">
        <i class="fas {{link.font-awesome-class}} fa-2x mr-3"></i> 
        <a class="btn-my-primary btn btn-outline-primary waves-effect  btn-lg " target="_blank" href="{{link.url}}">
           {{link.name}}
        </a>
        {% if link.other %}
        {% for link in link.other %}
        <a target="_blank"
            class="btn  {% if link.name == "WIKI" %} btn-outline-danger waves-effect{% else %} btn-outline-secondary waves-effect{% endif %} btn-lg "
            href="{{link.url}}">
            {{link.name}}
        </a>
        {% endfor %}
        {% endif %}
    </p>
    {% endfor %}

    <p>
        {% for link in site.data.footer-links %}
        <a class="btn-footer btn btn-outline-primary waves-effect btn-lg" target="_blank" href=" {{link.url}}">
            {{link.name}}
        </a>
        {% endfor %}

    </p>
</div>