<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>BAMAZON</title>

    {% include head-include.html %}

</head>

<body>
    <div id="old"> <a href="{{ site.baseurl }}{% link old.html %}">
        old
    </a></div>
    <h1>Szemeszterek</h1>
<div class="container-lg my-5">
    
    {% for semester in site.semesters %}


    {% assign fa-class = semester.fa-class %}
    {% assign fa-class-first = semester.fa-class | split: "-" | first %}
    {% if fa-class-first!="fa" and fa-class %}
    {% assign fa-class = semester.fa-class | prepend: "fa-" %}
    {% endif %}
    
    
    <p class="row d-flex justify-content-center align-items-center">
        <i class="fas {{fa-class | default: "fa-caret-right"}} fa-2x mr-3"></i> 
        <a class="btn-my-primary btn btn-outline-primary waves-effect  btn-lg "  href="{{semester.url}}">
           {{semester.number}}. szemeszter
        </a>
       
    </p>
        {% endfor %}
   
    

</div>

{% include script-include.html %}
</body>

</html>