<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>BAMAZON</title>

    {% include head-include.html %}

</head>

<body>
    {% include nav.html %}
    <h1>Mérnökinfó félévek</h1>
<div class="container-lg my-5">
    
    {% for semester in site.semesters %}


    {% assign fa-class = semester.fa-class %}
    {% assign fa-class-first = semester.fa-class | split: "-" | first %}
    {% if fa-class-first!="fa" and fa-class %}
    {% assign fa-class = semester.fa-class | prepend: "fa-" %}
    {% endif %}
    

    <p class="row d-flex justify-content-center align-items-center">
        <i class="fas {{fa-class | default: "fa-pray"}} fa-2x mr-3"></i> 
        <a class="btn-my-primary btn btn-outline-primary waves-effect  btn-lg "  href="{{semester.url}}">
           Félév {{semester.semester-num}}
        </a>
       
    </p>
        {% endfor %}
   
    
  
        <p>
            {% for link in site.data.footer-links %}
            <a class="btn-footer btn btn-outline-primary waves-effect btn-lg" target="_blank" href=" {{link.url}}">
                {{link.name}}
            </a>
            {% endfor %}
    
        </p>
</div>

{% include script-include.html %}
</body>

</html>