<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>BAMAZON</title>

    {% include head-include.html %}

</head>

<body>
 {% include nav.html %}
    <h1>{{page.pagetitle | default: "Tárgyak"}}</h1>
    <div class="container-lg my-5">









        <p class="footer">
            {% for link in site.data.footer-links %}
            <a class="btn-footer btn btn-outline-primary waves-effect btn-lg" target="_blank" href=" {{link.url}}">
                {{link.name}}
            </a>
            {% endfor %}

        </p>

    </div>
     
    {% include script-include.html %}
  {% include script-update-entries.html %}



</body>

</html>